<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" >
 
 <test name=" ** Sample Test Name **" >
 
<classes>

<class name="testCases.TestNg1" />
<class name ="testCases.TestNG_Framework"/>
 
 </classes>
 
 </test> <!-- Default test -->
 
 </suite> <!--  Default Suite -->